.home__hero-section {
  color: black;
  padding: 120px 0 120px;
}

.hero__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;

  column-gap: 15rem;
  row-gap: 6rem;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.reverse-column {
  grid-auto-flow: dense;
  direction: rtl;
}

.hero__row .col {
  border-radius: 4px;
  padding: 0 auto;
}

.top-line {
  color: #f09c26;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: darkblue;
}

.dark {
  color: #023770;
}

.black {
  color: black;
}

.light {
  color: white;
}

.orange {
  color: #f09c26;
}

.greyBg {
  background-color: #1c2237;
  /*background-color: rgb(163, 163, 163); */
}

.home__hero-subtitle {
  max-width: 700px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__hero-img {
  max-width: 100%;
  max-height: 600px;
  height: auto;
  margin-top: 0;
  margin-right: 0;
  padding-right: 0;
}

@media screen and (max-width: 1300px) {
  .hero__row .col {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .top-line {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .hero__row .col {
    max-width: 75%;
  }
}

@media screen and (max-width: 350px) {
  .hero__row .col {
    width: 90vw;

    padding: 0 0;
  }
}
