.signupform-header-card {
  background-color: #1c2237;
  color: white;
  padding: 1rem 2rem 3rem;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signupform-header-card-container {
  max-width: 1500px;
  margin: 5rem auto 3rem;
}

@media screen and (max-width: 1575px) {
  .signupform-header-card-container {
    max-width: 92.5vw;
  }
}

@media screen and (max-width: 800px) {
  .signupform-header-card-container {
    max-width: 90vw;
  }

  .signupform-header-card {
    padding: 1rem 0.5rem 3rem;
  }
}

@media screen and (max-width: 450px) {
  .signupform-header-card-container {
    max-width: 90vw;
  }
}
