.dropdown-menu {
  width: 200px;
  position: absolute;
  transform: translate(-45%, 0);
  top: 30px;
  list-style: none;
  text-align: start;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--white);
  padding-left: 0%;
}

.dropdown-container {
  position: relative;
}

.dropdown-menu li {
  background-color: var(--white);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: var(--blue);
}

.dropdown-link:hover {
  color: var(--primary);
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 16px 16px 16px 16px;
}

@media screen and(max-width: 1200px) {
  .dropdown-container {
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
