.overons__container {
  display: grid;
  row-gap: 5rem;
  padding-top: 5rem;
}

.overons__container #rij2__tekst {
  padding: 5rem 0;
  display: flex;
}

#rij2__tekst .col1 {
  width: 50%;
}

#rij2__tekst .col2 {
  width: 50%;
}

#rij2__tekst {
  background-color: #1c2237;
}
