.radio-form-container {
  border: black;
  background-color: #1c2237;
  color: white;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.radio-btn-container > .radio {
  margin: 0 8px 0 0;
}

.radio-container {
  width: 600px;
}

.radio-form-info {
  margin-left: 0.3rem;
}
