.radio-form-container {
  border: black;
  background-color: #1c2237;
  color: white;
  padding: 1.5rem 1.5rem;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.radio-btn-container {
  flex-wrap: wrap;
}

.radio-btn-container .radio {
  margin: 5px 8px 0 0;
}

.radio-container {
  max-width: 700px;
  padding-top: 2rem;
}

.radio-form-info {
  margin-left: 0.3rem;
}

@media screen and (max-width: 800px) {
  .radio-container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 450px) {
  .radio-container {
    max-width: 90vw;
  }
}
