.twocard__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  column-gap: 10rem;
  row-gap: 4rem;
  justify-content: center;
  align-items: center;
  padding: 7rem 9%;
}

.twocard__card {
  border-radius: 4px;
  padding: 0.5rem;
  text-decoration: none;
  margin: 0 2rem;
  min-height: 500px;
  overflow: hidden;
}

.dark__card {
  background: linear-gradient(45deg, var(--darkblue) 0%, var(--darkblue) 100%);
}

.light__card {
  background: linear-gradient(45deg, #e6ecee 0%, #eff4f7 100%);
}

.dark__shadow {
  box-shadow: 0 4px 8px 0 rgba(20, 27, 92, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.light__shadow {
  box-shadow: 0 4px 8px 0 rgba(61, 61, 61, 0.2),
    0 6px 20px 0 rgba(66, 66, 66, 0.19);
}

.dark__text {
  color: rgb(0, 0, 0);
}

.light__text {
  color: rgb(255, 255, 255);
}

.dark__header {
  color: #f09c26;
}

.twocard__cardinfo {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  color: #fff;
}

.twocard__cardinfo .bottom__text {
  margin-top: auto;
  padding-bottom: 0.25rem;
}

.twocard__cardinfo .btn__wrapper {
  margin-top: auto;
  padding-bottom: 1rem;
}

.twocard__cardinfo h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.twocard__cardinfo p {
  font-size: 18px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1218px) {
  .twocard__card {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 550px) {
  .twocard__card {
    width: 75vw;
  }
}

@media screen and (max-width: 400px) {
  .twocard__card {
    width: 95vw;
    padding: 0 0;
  }
}

@media screen and (max-width: 350px) {
  .twocard__card {
    width: 95vw;
  }
}
