.radiogroup-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.form-header-card {
  background-color: #1c2237;
  color: white;
  padding: 1rem 2rem 3rem;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-header-card-container {
  max-width: 700px;
}

.textarea-container {
  margin-top: 3rem;
  padding-right: 0.3rem;
}

.radioform-textarea {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 150px;
  resize: none;
}

@media screen and (max-width: 800px) {
  .radio-group-form-container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .radio-form-footer {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .form-header-card-container {
    max-width: 85%;
  }

  .textarea-container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .radio-group-form-container {
    max-width: 90vw;
  }

  .form-header-card-container {
    max-width: 90vw;
  }

  .textarea-container {
    max-width: 90vw;
  }
}
